/WordCounter/nbproject/private/
/WordCounter/build/
/WordCounter/dist/
/TwitterMapReduce/nbproject/private/
/TwitterMapReduce/build/
/TwitterMapReduce/dist/
/web/Gravity/apps/wc/out/
/web/Gravity/apps/wc/user_upload/
/web/Gravity/apps/wc/logs/
/web/Gravity/apps/custom/out/
/web/Gravity/apps/custom/user_upload/
/web/Gravity/apps/custom/logs/
/WikipediaXMLReader/nbproject/private/
jdk-6u45-linux-x64.bin
jdk-7u51-linux-x64.gz
newtweets-2h26m56s.txt